<!Doctype html>
<html>
<head>
{%block meta%}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
{%endblock%}
{%block link%}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css">
{%endblock%}
{%block script%}
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.min.js"></script>
{%endblock%}
{%block style%}
<style >
em.error {
  background:url("{{STATIC_URL}}images/unchecked.gif") no-repeat 0px 0px;
  padding-left: 16px;
}
em.success {
  background:url("{{STATIC_URL}}images/checked.gif") no-repeat 0px 0px;
  padding-left: 16px;
}
form label.error {
        margin-left: auto;
        width: 250px;
}
em.error { color:red  } 
input.error { border: 1px dotted red; }
select.error { border: 1px dotted red; }
#warning { display: none; }
</style>
{%endblock%}
</head>

{%block body%}
{%endblock%}
</html>
