{%extends "base.html"%}
<html>
<head> 
</head>
{%block body%}
<body>
<script src="{{STATIC_URL}}js/jquery-validation-1.8.1/jquery.validate.js" type="text/javascript"></script>
<script type="text/javascript">  
$.validator.setDefaults({
    submitHandler: function() {  
        if(validSouceIp()){ 
            document.getElementById('saveform1').submit(); 
        }
     }
}); 
$().ready(function() {  
    // validate signup form on keyup and submit
    $("#saveform1").validate({
        rules: { 
           host: { required:true } ,
           domain: { required:true } ,
           type: { required:true },
           ttl: { required:true, number:true  }
        },
        messages: { 
            host: "主机名不能为空!" ,
            domain: "请选择二级域名!",
            type: "请选择记录类型",
            ttl: {required: "TTL 值不能为空!",
                  number: "ttl 必须为数字"}
        },errorElement: "em",
        errorContainer: $("#warning")
    });   
     $(":submit").button();  
});  
</script>
{%if message == '1'%}
    <script>alert('记录操作成功!');location.replace('/?cid={{cid}}')</script>
{%endif%}
{%if message == '2'%}
    <script>alert('数据库插入失败!');location.replace('/')</script>
{%endif%}
{%if message == '3'%}
    <script>alert('记录插入失败!');location.replace('/')</script>
{%endif%}
<div style="float: left; width: 100%; margin-top: 3px"> 
<form action="" name="saveform1" id="saveform1" method="post">{%csrf_token%} 
    <table style="text-align: left; border: 0px; width: 100%" cellpadding="3px"> 
    <tbody>
            <input type="hidden" name='id' value="{{query.id}}">
       <tr>  
        <td style="text-align: right;"><b>主机</b> <font color="red">*</font><b>：</b></td>
        <td>
            {% if query.id %}
                <!--
                <b>{{query.host}}</b>
                <input type="hidden" name="host" value="{{query.host}}">
                -->
                <input type="text" id="host" name="host" value="{{query.host}}"  maxlength="60" readonly="readonly">
                <br>
                <span id="chk"></span>
            {%else%}
                <input type="text" id="host" name="host" value="{{query.host}}">
                <br>
                <span id="chk"></span>
            {%endif%}
        </td>
       </tr>
        <tr>
            <td style="text-align: right;"><b>二级域名</b> <font color="red">*</font><b>：</b></td>
            <td>
                {%if query.id%}
                <select name="domain" id="domain" readonly="readonly">
                    <option value="">--请选择--</option>
                    {%for i in data %}
                    <option value="{{i.domain}}" {%if query.domain == i.domain%} selected {% endif %}>{{i.domain}}</option>
                    {%endfor%}
                </select>
                {%else%}
                <select name="domain" id="domain">
                    <option value="">--请选择--</option>
                    {%for i in data %}
                    <option value="{{i.domain}}" {%if query.domain == i.domain%} selected {% endif %}>{{i.domain}}</option>
                    {%endfor%}
                </select>
                <!--
                 <span class="error_message">不允许为空</span> -->
                {%endif%}
            </td>
        </tr>
        <tr>
            <td style="text-align: right;"><b>记录类型</b> <font color="red">*</font><b>：</b></td>
            <td>
                <select name="type" id="type" onClick="host_form()">
                    <option value="">--请选择--</option>
                    <option value="A" {% if query.type == 'A' %} selected {%endif%}>A</option>
                    <option value="CNAME" {% if query.type == 'CNAME' %} selected {%endif%}>CNAME</option>
                </select>
            </td>
        </tr>
        <tr>
            <td style="text-align: right;"><b>TTL值</b> <font color="red">*</font><b>：</b></td>
            <td><input type="text" name="ttl" id="ttl" value="{{query.ttl}}" maxlength="4"></td>
        </tr>
        <tr>
            <td style="text-align: right;"><b>源站IP</b> <font color="red">*</font><b>：</b></td>
            <td>
                <textarea name="source_ip" id="source_ip">{{query.source_ip}}</textarea>
                <br>
                <font color="red">如果A记录有多个IP请用【回车】隔开</font>
            </td>
        </tr>
        <tr>
            <td style="text-align: right;"><b>蓝汛CNAME：</b></td>
            <td><input type="text" name="cc_cname" value="{{query.cc_cname}}" maxlength="100"></td>
        </tr>
        <tr>
            <td style="text-align: right;"><b>网宿CNAME：</b></td>
            <td><input type="text" name="wc_cname" value="{{query.wc_cname}}" maxlength="100"></td>
        </tr>
        <tr>
            <td style="text-align: right;"><b>是否启用加速：</b></td>
            <td>
                <input type="radio" name="js" value='1' {%if query.js == '1' or query.js == '1.0'%} checked {%endif%}>启用
                <input type="radio" name="js" value='2' {%if query.js == '2' or query.js == '2.0'%} checked {%endif%}>不启用
            </td>
        </tr>
        <tr>
            <td style="text-align: right;"><b>使用人：</b></td>
            <td><input type="text" name="owner" value="{{query.owner}}" maxlength="10"></td>
        </tr>
        <tr> 
            <td style="text-align: right;"><b>缓存规则：</b></td>
            <td colspan="3"><textarea rows="10" cols="30" style="width:80%" name="cache_Content">{{query.cache_Content}}</textarea></td>
        </tr> 
        <tr> 
            <td style="text-align: right;"><b>备注：</b></td>
            <td colspan="3"><textarea rows="10" cols="30" style="width:80%" name="sm">{{query.sm}}</textarea></td>
        </tr> 
    </tbody>
    </table>
    <br> 
    <center><button class="submit ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="submit" role="button" aria-disabled="false"><span class="ui-button-text">提 交</span>
    </button>
    </center> 
    </form> 
</div> 
<script type="text/javascript">
function validSouceIp(){
    var type=$("#type").val();
    var isok=false;
    var data = $('#source_ip').val();
    var validLenth = new Array()

    if(type=="A"){ 
        var re=/\r\n/g;  
        data=data.replace(re,"\n"); 
        // 容许 data 有逗号隔开的IP  
        if(data.indexOf("\n") > 0 ){ 
            var tempdata= new Array(); //定义一数组 
            tempdata=data.split("\n"); 
            if(tempdata.length>30){
                alert("超过最大记录值（30）上限！");
                isok=false;
            }else{
                for(var d in tempdata){           
                    if(!checkips(tempdata[d])){
                        isok=false; 
                    }else{
                        validLenth.push(checkips(tempdata[d]))
                    } 
                }
                if(tempdata.length==validLenth.length){
                    isok=true;
                }
            }
        }else{   
            if(!checkips(data)){
                isok=false; 
            }else{
                isok=true;
            }
        } 
    }else if(type=='CNAME'){
        data=data.replace(/\r\n/ig,""); 
        var found1=(/\.$/.test(data)); 
        /*var re1 = "([0-9a-zA-Z_!~*'()-]+\.)*.+(com.cn|net.cn|com|cn|net|org)+.";
            var re=new RegExp(re1); 
            var found1 = re.test(data);  */ 
        if(!found1){
            // 判断是否 是在 主机中定义了  
            $.ajax({ 
                type: "post", 
                url: "<%=basepath%>/resource/ajax_checkDomainIsExsitForCname.action", 
                data:{ zonefile:zone, domain:data },
                async:false,//设置为同步执行
                success: function(data){ 
                //alert(data);
                var s=eval('('+data+')');  
                //var da=eval('('+s+')');
                if(s.success){
                    //isok=true; 
                }else{
                    alert("CNAME 记录值非法,请确认！");
                    isok=false;
                }
                },
                error: function(){ 
                    alert("提交错误！");
                    isok=false; 
                } 
           }); 
        }
    }
    return isok;
}

function checkips(ip){
    var pattern=/^(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9])\.(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9]|0)\.(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9]|0)\.(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[0-9])$/;
    var flag_ip=pattern.test(ip);
    if(!flag_ip){
        alert(" IP["+ip+"]非法！"); 
      return false;
      }else{
      return true;
      }
}

function bb(div){
     var obj = document.getElementById(div);
     if(obj.style.display==""){
          obj.style.display="block";
     }else if(obj.style.display=="none"){
          obj.style.display="block";
     }else if(obj.style.display=="block"){
          obj.style.display="none";
     }
}
     
function inDaohang(divname,obj){
    var f = false;
    while(obj.parentNode){
         if(obj.name==divname){
              return true;
         }
         obj = obj.parentNode;
    }
    return false;
}
function closeDaohang(e,divname,aname){
     if(e.id!=aname && e.id!='target'&& e.id!='target' && e.id.indexOf("td") ==-1&& e.id.indexOf("check") ==-1)
     if(!inDaohang(divname,e)){
          var a = document.getElementsByName(divname);
          for(var i=0;i<a.length;i++){
               a[i].style.display='none';
          }

     }

}

function aa(obj,td_name,tovalue,formvalue)
{
    var select_value=document.getElementById(tovalue); 
    var td_value =document.getElementById(formvalue); 
    if(obj.checked == true){ 
        if(select_value.value.length>0){
            select_value.value+="," + td_value.value;
        }else{
            select_value.value+=td_value.value;
        }
    }else{
        if(select_value.value.indexOf("," + td_value.value + ",") != -1){
            select_value.value = select_value.value.replace("," +td_value.value,'');
        }else if(select_value.value.indexOf("," + td_value.value) != -1){
            select_value.value = select_value.value.replace("," +td_value.value,'');
        }else if(select_value.value.indexOf(td_value.value + ",") != -1){
            select_value.value = select_value.value.replace(td_value.value + ",",'');
        }else if(select_value.value.indexOf(td_value.value) != -1){
            select_value.value = select_value.value.replace(td_value.value,'');
        }
    }
}
function host_form(){
    var host = $('#host').val()
    var domain = $('#domain').val()
    var url = "/check_form.html?host="+host+"&domain="+domain
    $.get(url, null, function(data){
        if(host){
            $('#chk').html(data);
        }
    });
}
</script> 
</body>
{%endblock%}
</html>
