<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>回源Dns管理系统</title>
<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css">
<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap-theme.min.css">
<link rel="shortcut icon" href="{{STATIC_URL}}imgs/favicon.ico" type="image/x-icon" />
<link >
<script src="{{STATIC_URL}}js/jquery.min.js"></script>
<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
<script src="{{STATIC_URL}}js/jqBootstrapValidation.js"></script>
<! --<script src="{{STATIC_URL}}js/tooltip.js"></script>
<script src="{{STATIC_URL}}js/bootstrap3-validation.js"></script> -->
<style type="text/css">
    .bs-example{
    	margin: 20px;
    }
    .col-sm-10{
        width:30%;
    }
    .col-sm-2{
        width:30%;
    }
    .radio{
        width:10%;
    }
</style>
</head>
<body>
{%if message == 'Y' %}
    <script>alert('操作成功!');location.replace('/index.html?operator={{operator}}')</script>
{%elif message == 'N'%}
    <script>alert('操作失败!');location.replace('/index.html?operator={{operator}}')</script>
{%elif message == 'CNN'%}
    <script>alert('在电信VIEW中,该主机已经有CNAME记录!');location.replace('/index.html?operator={{operator}}')</script>
{%elif message == 'ANN'%}
    <script>alert('在其它VIEW中,该主机已经有CNAME记录!');location.replace('/index.html?operator={{operator}}')</script>
{%endif%}
<script>
</script>
<script type="text/javascript">
//$(function(){
    //$("form").validation();
    /*
    $("button[type='submit']").on('click', function(event){
        if($("form").valid()==false){
            $("#error-text").text("error!");
            return false;
        }
    })
})
*/
$(function(){
//    console.log(111)
//    $("#form1").validation();
    $("#btn_form_submit").on('click', function(event){
 //       debugger;
        if($("#zone option:selected").val() == "点击选择"){
            alert("请选择二级域名");
            return false;
        }
        if($("#operator option:selected").val() == "点击选择"){
            alert("请选择视图");
            return false;
        }
        if($("#ctype option:selected").val() == "点击选择"){
            alert("请选择记录类型");
            return false;
        }
        if($("#ctype option:selected").val() == "CNAME") {
            var data = $("#data").val() || "";
            var cc_cname = $("#cc_cname").val()  || "";
            var wc_cname = $("#wc_cname").val()  || "";
            //if(data == "" || cc_cname == "" || wc_cname == "") {
            //    alert("请填写内容");
            //    return false;
            //}

            //if(!checkRule(data) || !checkRule(cc_cname) || !checkRule(wc_cname)) {
            //    alert("请填写正确内容");
            //    return false;
            //}
            if(!checkRule(data)){
                alert("CNAME记录请以.结尾");
                return false;
            }
            if(cc_cname != "" && !checkRule(cc_cname)){
                alert("蓝汛CNAME输入格式不正确,请以.结尾");
                return false;
            }
            if(wc_cname != "" && !checkRule(wc_cname)){
                alert("网宿CNAME输入格式不正确,请以.结尾");
                return false;
            }
        }else if($("#ctype option:selected").val() == "A"){
            var cc_cname = $("#cc_cname").val()  || "";
            var wc_cname = $("#wc_cname").val()  || "";

            if(cc_cname != "" && !checkRule(cc_cname)){
                alert("蓝汛CNAME输入格式不正确,请以.结尾");
                return false;
            }
            if(wc_cname != "" && !checkRule(wc_cname)){
                alert("网宿CNAME输入格式不正确,请以.结尾");
                return false;
            }
        }
    });

    $(function () { $("input,select,textarea").not("[type=submit]").jqBootstrapValidation(); } );

});

function checkRule(str) {
    if(str.substring(str.length-1) != ".") {
        return false;
    }
    return true;
}    
</script>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<ul class="nav navbar-nav">
<li><a class="navbar-brand" style="margin-bottm:1px;"><img src="{{STATIC_URL}}imgs/davidlogo.png" style="height:18px"></a></li>
<li>&nbsp</li>
<li>&nbsp</li>
<li><a class="navbar-brand" href="/index.html">首页</a></li>
<!-- <li><a class="navbar-brand" href="/xls.html">批量添加记录</a></li> -->
{%if up.group_name == 'admin' or up.group_name == 'super_admin'%}
<li><a class="navbar-brand" href="/zone.html">增加二级域名</a></li>
{%endif%}
</ul>
</div>
<form class="navbar-form navbar-right" role="form">
<a href="/logout.html?user={{user}}" class="btn btn-danger">退出</a>
</form>
</div>
</div>
<br>
<br>
<br>
<br>
<div class="bs-example">
<form class="form-horizontal" role="form" action="" method="post">{%csrf_token%}
    <input type="hidden" name='id' value="{{query.id}}">
   <div class="form-group">
      <label class="col-sm-2 control-label" for="host">主机</label>
      <div class="col-sm-10">
        {%if query.host%}
         <input type="hidden" id="host" required name="host" value="{{query.host}}">
         <input id="host" type="text" data-toggle="tooltip" placeholder='请填写您要添加的主机名称' title="主机名称" data-placement="right"  class="form-control" check-type="required" maxlength="60" name="host" value="{{query.host}}" readonly>
        {%else%}
         <input id="host" type="text" required data-toggle="tooltip" placeholder='请填写您要添加的主机名称' title="主机名称" data-placement="right"  class="form-control"  maxlength="60" name="host">
        {%endif%}
      </div>
   </div>
   <div class="form-group">
      <label for="zone" class="col-sm-2 control-label">二级域名</label>
      <div class="col-sm-10">
       {%if query.zone%}
        <input type="hidden" name="zone" value="{{query.zone}}">
        <fieldset disabled>
        <select class="form-control" id="zone"  name="zone">
		   <option>点击选择</option>
            {%for z in zones%}
		   <option value="{{z.zone}}" {%if z.zone == query.zone%} selected {%endif%}>{{z.zone}}</option>
           {%endfor%}
		</select>
        <fieldset>
       {%else%}
        <select class="form-control" id="zone" name="zone">
		   <option>点击选择</option>
            {%for z in zones%}
		   <option value="{{z.zone}}">{{z.zone}}</option>
           {%endfor%}
		</select>
       {%endif%}
      </div>
   </div>
   <div class="form-group">
      <label for="inputPassword" class="col-sm-2 control-label">视图</label>
      <div class="col-sm-10">
      {%if query.operator%}
      <input type="hidden" name="operator" value="{{query.operator}}">
      <fieldset disabled>
        <select class="form-control" id="operator" name="operator">
		   <option>点击选择</option>
		   <option value="ct" {%if query.operator == 'ct'%} selected {%endif%}>电信</option>
		   <option value="any" {%if query.operator == 'any'%} selected {%endif%}>其他</option>
		</select>
       </fieldset>
       {%else%}
        <select class="form-control" id="operator" name="operator">
		   <option>点击选择</option>
		   <option value="ct">电信</option>
		   <option value="any">其他</option>
		</select>
       {%endif%}
      </div>
   </div>
   <div class="form-group">
      <label for="inputPassword" class="col-sm-2 control-label">记录类型</label>
      <div class="col-sm-10">
        <select class="form-control" name="ctype" id="ctype">
		   <option>点击选择</option>
		   <option value="A" {%if query.type == 'A'%} selected {%endif%}>A</option>
		   <option value="CNAME" {%if query.type == 'CNAME' %} selected {%endif%}>CNAME</option>
		</select>
      </div>
   </div>
   <div class="form-group">
      <label class="col-sm-2 control-label">TTL值</label>
      <div class="col-sm-10">
         <input class="form-control" id="ttl" type="text" name='ttl' check-type="number" maxlength="6" placeholder='请填写您要添加的TTL值' pattern="^[0-9]+(.[0-9]{1,6})?$" value="{{query.ttl}}">
      </div><span class="help-block" id="valierr"></span>
   </div>
   <div class="form-group">
      <label class="col-sm-2 control-label" for="data">源站IP地址</label>
      <div class="col-sm-10">
         <textarea class="form-control" required rows="4"  name="data" id="data" placeholder='如果是A记录,多个ip地址之间请用换行隔开' mail-message="请输入内容。">{{query.data}}</textarea>
         {%if query.id > 0 and query.allAdd == '1'%}
         <label><font color="red">源站IP同时对另外一个VIEW也进行修改:</font></label> &nbsp;&nbsp;<input type="checkbox" name="allAdd" value="1" {%if query.allAdd == '1'%} checked {%endif%}>
         {%elif query.id > 0 and query.allAdd == '0'%}
            <input type="hidden">
         {%else%}
         <label><font color="red">源站IP同时对另外一个VIEW也进行修改:</font></label> &nbsp;&nbsp;<input type="checkbox" name="allAdd" value="1" {%if query.allAdd == '1'%} checked {%endif%}>
         {%endif%}
      </div>
   </div>
   <div class="form-group">
      <label class="col-sm-2 control-label" for="cc_cname">蓝汛CNAME</label>
      <div class="col-sm-10">
         <input class="form-control" id="cc_cname" type="text" placeholder='请输入蓝汛CNAME' name='cc_cname' value="{{query.cc_cname}}">
      </div>
   </div>
   <div class="form-group">
      <label class="col-sm-2 control-label" for="wc_cname">网宿CNAME</label>
      <div class="col-sm-10">
         <input class="form-control" id="wc_cname" type="text" placeholder='请输入网宿CNAME' name='wc_cname' value="{{query.wc_cname}}"> 
      </div>
   </div>
   <!--
   <div class="form-group">
      <label class="col-sm-2 control-label">是否启用加速</label>
	  <div class="col-sm-10" align="center">
		<label>
			<input type="radio" name="optionRadios" id="optionsRadios" name='' value="0" checked>启用
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="radio" name="optionRadios" id="optionsRadios" value="1" checked>未启用
		</label>
	  </div>		
   </div>
   -->
   <div class="form-group">
      <label class="col-sm-2 control-label">使用人</label>
      <div class="col-sm-10">
         <input class="form-control" id="owner" name="owner" type="text" placeholder='请输入使用人' value="{{query.owner}}">
      </div>
   </div>
   <div class="form-group">
      <label class="col-sm-2 control-label">缓存规则</label>
      <div class="col-sm-10">
         <textarea class="form-control" rows="6" name="cache_content">{{query.cache_content}}</textarea>
      </div>
   </div>
   <div class="form-group">
        <center><input type="submit" class="btn btn-success" value="提交" id="btn_form_submit"/></center>
   </div>
</form>
</div>
</body>
